
<div class="form__wrapper">
    <button class="close-btn" (click)="CloseModal()"> 
        <svg width="24" height="24" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 12L10 8L6 4" stroke="gray" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <svg width="24" height="24" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 12L10 8L6 4" stroke="gray" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                  
    </button>
    <form class="form__inner" [formGroup]="CandidateForm" (ngSubmit)="CreateCandidate()">
        <div class="form__inner-number">
            <label >
                Номер Телефона:
            </label>
            <ngx-intl-tel-input
            [cssClass]="'custom'"
            [preferredCountries]="preferredCountries"
            [enableAutoCountrySelect]="true"
            [enablePlaceholder]="true"
            [searchCountryFlag]="true"
            [searchCountryField]="[
            SearchCountryField.Iso2,
            SearchCountryField.Name
            ]"
            [selectFirstCountry]="false"
            [selectedCountryISO]="CountryISO.India"
            [maxLength]="15"
            [phoneValidation]="true"
            [separateDialCode]="separateDialCode"
            [numberFormat]="PhoneNumberFormat.National"
            name="phone"
            formControlName="phone" width="100%"
        >
        </ngx-intl-tel-input>
        </div>
        <div class ="form__inner__info">
            <label>
                Базовая инормация:
            </label>
            <div class="info-wrapper">
                <input type="text" class="info-name" placeholder="Имя" formControlName="name">
                <input type="text" class="info-suranme" placeholder="Фамилия" formControlName="surName">
                <input type="number" placeholder="возраст" formControlName="age">
                <input type="text" placeholder="email" formControlName="email">
            </div>            
        </div>
        <div class="form__inner-location">
            <label>
                Локация:
            </label>
            <div style="display: flex; column-gap: 10px;">
                <img src="../../../assets/icons/location.svg"  width="25" height="25">
                <select class="select-location" formControlName="location">                      
                    <option selected> Область 1</option>
                    <option > Область 2</option>
                    <option > Область 3</option>
                    <option > Область 4<option>
                </select>
        </div>
        </div>
        <div class="form__inner-aboutme">
            <label>
                Детальная информация кандидате:
            </label>
            <textarea class="textarea-aboutme" formControlName="aboutme">

            </textarea>
        </div>
        <div style="display: flex; column-gap:10px">
            Дата встречи:
            <input 
                type="datetime-local" formControlName="meetDate"/>
                <textarea></textarea>
        </div>
        <label for="dateNote"> Примечание встречи:</label>
        <textarea id="dateNote" formControlName="dateNote"></textarea>
        <button class="button button-create">
            Добавить  
            <svg width="24" height="24" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 12L10 8L6 4" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                
        </button>
    </form>
</div>
