<div class="content-wrapper">
    <div class="content-header">
      <p>All Candidates</p>
      <div class="content-utils">
        <input class="content-search">
        <select class="content-orderby">
          <option value=" newest">Newest</option>
          <option value=" older">Older</option>            
        </select>
      </div>
      
    </div>
    <div class="content-table">
      <p>Candidate Name </p>
      <p>Age</p>
      <p>Phone Number</p>
      <p>Email</p>
      <p>Country</p>
      <p>Status</p>
    </div>
  </div>  
