<div class="content-wrapper">
    <div class="content-header">
      <p>Список кандидатов</p>
      <div class="content-utils">
        <input class="content-search">
        <select class="content-orderby" (change)="OrderBy($event)">
          <option value="newest">Новые</option>
          <option value="older">Старые</option>            
        </select>
      </div>
      
    </div>
    <div class="content-table">
      <p>ФИО Кандидата </p>      
      <p>Номер телефона</p>
      <p>Email</p>
      <p>Образование</p>
      <p>Дата встречи</p>
      <p>Статус</p>
    </div>
    <div *ngFor="let candidate of candidates$ |async" class="candidate-row" (click)="OpenDetail(candidate)">
      <p>{{ candidate.fullname }} </p>      
      <p>{{candidate.phone}}</p>
      <p>{{ candidate.email }}
      <p>{{ candidate.education }}</p>      
      <p>{{ candidate.meetDate }}</p>
      <p>{{candidate.status}}</p>
    </div>
  </div>   
  <div class="detail-modal">
    <app-create-candidate
    *ngIf="isDetailOpen"
    [candidate]="selectedCandidate"  
    (CloseEvent)="CloseDetail()">
    <app-create-candidate>
