<div class="content-wrapper">
    <div class="content-header">
      <p>All Vacancies</p>
      <div class="content-utils">
        <input class="content-search">
        <select class="content-orderby">
          <option value=" newest">Newest</option>
          <option value=" older">Older</option>            
        </select>
      </div>      
    </div>
    <div class="content-table">
      <p>Vacancy Name </p>
      <p>Type Work</p>
      <p>Salary</p>
      <p>Required Experience</p>
      <p>Date Publish</p>
      <p>Status</p>
    </div>
  </div>  
