.content-wrapper{
    box-shadow: 0 0 10px 5px #D3FFE7;
    padding-block: 20px;
    padding-inline: 20px;
    background-color: white;
    display: grid;    
    grid-template-rows: 20% repeat(2,1fr);
    column-gap: 100px;
    row-gap: 30px;
    border-radius: 10px;    
    height: max-content;
    .content-header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        .content-utils{    
            width: 50%;
            display: flex;
            justify-content: space-between;
            
            .content-search {
                background-color: #D3FFE7;
                outline: none;
                border: none;
                border-radius: 5px;
                padding-left: 35px; 
                height: 40px;
                width:  200px;
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.414-1.414l-3.85-3.85a1.007 1.007 0 0 0-.114-.099zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg>');
                background-repeat: no-repeat;
                background-position: 10px center; 
                background-size: 16px; 
        
                &::placeholder {
                    color: gray;
                    font-size: 14px;
                }
        
                &:focus {
                    background-image: none;
                    padding-left: 10px; 
                }
            }
            .content-orderby {
                background-color: #D3FFE7;
                outline: none;
                border: none;
                border-radius: 5px;
                padding-left: 35px; 
                height: 40px;
                width: 140px;
                appearance: none; 
                background-repeat: no-repeat;
                background-position: 10px center;
                background-size: 16px; 
                font-size: 14px;
            }
            .content-orderby {
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" viewBox="0 0 16 16"><path d="M8 10.5l-4-4h8l-4 4z"/></svg>'); // Иконка стрелки вниз
        
                &:focus {
                    background-image: none; 
                    padding-left: 10px;
                }
            }
        }
    }
    .content-table{
        display: grid;
        height: min-content;
        text-align: center;
        p{
            color:gray

        }
        grid-template-columns: repeat(6,1fr);
        border-bottom:  #9197B3 2px solid;;
    }
    .vacancy-row {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        text-align: center;
        border-bottom: 1px solid #ddd;
        padding: 10px 0;
      
        p {
          color: black;
        }
      }
      
}


