<div class="content-wrapper">
    <div class="content-header">
      <p>Список вакансий</p>
      <div class="content-utils">
        <input class="content-search">
        <select class="content-orderby">
          <option value=" newest">Новые</option>
          <option value=" older">Старые</option>            
        </select>
      </div>      
    </div>
    <div class="content-table">
      <p>Название вакансии</p>
      <p>Возраст</p>
      <p>Образование</p>
      <p>Навыки</p>
      <p>Условия работы</p>
      <p>Дата публикации</p>     
    </div>
    <div *ngFor="let vacancy of vacancies" class="vacancy-row">
      <p>{{ vacancy.vacancyTitle }}</p>
      <p>{{ vacancy.age }}</p>
      <p>{{ vacancy.education }} </p>
      <p>{{ vacancy.skills }} </p>
      <p>{{ vacancy.conditions }}</p>
      <p>{{ vacancy.datePublish }}</p>    
    </div>
  </div>  
