

<div class="main">
  <nav class="side-bar">
    <div class="title">
      <img src="assets/icons/dashboard.svg" width="84" height="84">
      <h1>DashBoard</h1>         
    </div>
    <div class="side-bar-components candidates">
      <img src="assets/icons/candidates.svg" width="24" height="24">        
      <p>Candidates</p>
      <img src="assets/icons/chevron-right 2.svg"  width="24" height="24">        
    </div>
    <div class="side-bar-components">
      <img src="assets/icons/vacancies.svg" width="24" height="24">
      <p>Vacancies</p>
      <img src="assets/icons/chevron-right 2.svg"  width="24" height="24">        
   
    </div>
  </nav>

 <div class="inner-main">
  <header class="header">
    <div class="header-title">
      <h2>CRM Technology</h2>
    </div>
  </header>
      <div class="stats__wrapper">
          <div class="stats__wrapper__statistics">
            <div class="main-stats">
                <div class="stats-icon">
                <img src="assets/icons/total-candidate.svg" width="42" height="42">              
                </div>
                <div class="stats-content">
                  <h4>Total Candidates</h4>
                  <h1>5,423</h1>              
                </div>
            </div>
            <div class="main-stats">
              <div class="stats-icon">
                <img src="assets/icons/invited-candidates.svg" width="42" height="42">                                    
              </div>
              <div class="stats-content">
                <h4>Invated Candidates</h4>
                <h1>5,423</h1>              
              </div>
            </div>
            <div class="main-stats">
              <div class="stats-icon">
                <img src="assets/icons/passed-candidate.svg" width="42" height="42">                                    
              </div>
              <div class="stats-content">
                <h4>Passed Candidates</h4>
                <h1>5,423</h1>              
              </div>
            </div>
          </div>
        </div>
    <div class="content-wrapper">
      <div class="content-header">
        <p>All Candidates</p>
        <div class="content-utils">
          <input class="content-search">
          <select class="content-orderby">
            <option value=" newest">Newest</option>
            <option value=" older">Older</option>            
          </select>
        </div>
        
      </div>
      <div class="content-table">
        <p>Candidate Name </p>
        <p>Age</p>
        <p>Phone Number</p>
        <p>Email</p>
        <p>Country</p>
        <p>Status</p>
      </div>
    </div>  
  </div>
  
</div>