
.main{
    display: grid;
    grid-template-columns: 20% 80%;
    background:linear-gradient(to right,#D3FFE7 20%,#EFFFF6 80%,55deg) ;
    .side-bar{
        
        width: 100%;
        height: calc(100vh - 75px);
        background-color: white;
        border-right: #9197B3 2px solid;
        padding-inline: 10px;
        .title{
            font-size: 28px;
            font-family: 'Poppins-SemiBold';
            font-weight: 600;
            display: flex;
            align-items: center;            
            justify-content: space-between;
        }
        &-components{
            
            p{
                font-family: 'Poppins';
                font-weight: 500;
                translate:0px 10px;
            }
            width:100%;
            height: max-content;    
            font-size: 25px;
            color: gray;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        box-shadow: 0 0 10px 5px #D3FFE7;
    }
    .inner-main{

        display: flex;
        align-items: center;
        
        flex-direction: column;
        row-gap: 30px;
        
        .header{    
            display: flex;
            justify-content: center;

            &-title{
                font-family: 'Poppins-SemiBold';
                font-weight: 400;
                translate:-350px
            }
                 
        }


        .stats__wrapper{        
            border-radius: 10px;
            box-shadow: 0 0 10px 5px #D3FFE7;
            width: 80%;                                
            height: 151px;
            padding-block: 10px;
            background-color: white;
            
            &__statistics{
                width: 830;
                height: 87;
                display: flex;
                justify-content: space-around;
                .main-stats{
                    display: flex;
                    width: 250px;
                    height: 84px;
                    .stats-icon{
                        background-color: #D3FFE7;
                        display: flex;
                        color: green;
                        justify-content: center;
                        align-items: center;
                        border-radius: 100%;
                        width: 84px;
                        height: 84px;
                    }   
                    .stats-content{
                        
                        font-family: 'Poppins-Regular';
                        font-weight: 400;
                        h4{
                            color:gray
                        }
                    }
                }
            }
        }    
        .content-wrapper{
            box-shadow: 0 0 10px 5px #D3FFE7;
            padding-block: 20px;
            padding-inline: 20px;
            background-color: white;
            display: grid;
            width: 80%;
            grid-template-rows: 20% 80%;
            column-gap: 100px;
            row-gap: 30px;
            border-radius: 10px;
            .content-header{
                display: flex;
                justify-content: space-between;
                width: 100%;
                .content-utils{    
                    width: 50%;
                    display: flex;
                    justify-content: space-between;
                    
                    .content-search {
                        background-color: #D3FFE7;
                        outline: none;
                        border: none;
                        border-radius: 5px;
                        padding-left: 35px; 
                        height: 40px;
                        width:  200px;
                        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.414-1.414l-3.85-3.85a1.007 1.007 0 0 0-.114-.099zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg>');
                        background-repeat: no-repeat;
                        background-position: 10px center; 
                        background-size: 16px; 
                
                        &::placeholder {
                            color: gray;
                            font-size: 14px;
                        }
                
                        &:focus {
                            background-image: none;
                            padding-left: 10px; 
                        }
                    }
                    .content-orderby {
                        background-color: #D3FFE7;
                        outline: none;
                        border: none;
                        border-radius: 5px;
                        padding-left: 35px; 
                        height: 40px;
                        width: 140px;
                        appearance: none; 
                        background-repeat: no-repeat;
                        background-position: 10px center;
                        background-size: 16px; 
                        font-size: 14px;
                    }
                    .content-orderby {
                        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" viewBox="0 0 16 16"><path d="M8 10.5l-4-4h8l-4 4z"/></svg>'); // Иконка стрелки вниз
                
                        &:focus {
                            background-image: none; 
                            padding-left: 10px;
                        }
                    }
                }
            }
            .content-table{
                display: grid;
                height: min-content;
                text-align: center;
                p{
                    color:gray

                }
                grid-template-columns: repeat(6,1fr);
                border-bottom:  #9197B3 2px solid;;
            }
        }
    }
 
}

